@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Nanum+Gothic|Sedgwick+Ave');

/* reset CSS */

html {
    overflow-x:hidden;
}
body {
    width:100%;
    height:100%;
    position:relative;
    font-family: '나눔고딕', 'NanumGothic', '맑은 고딕', 'MalgunGothic', '돋움', 'Dotum', 'Gothic', sans-serif;
}

body, div, ul, li, h1, h2, h3, h4, h5, h6, p, span, a, img, input, button {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a {
    text-decoration:none;
}
ul, li {
    list-style:none;
}
img {
    border:0;
    display:block;
    max-width:100%;
}

.cf{ content:''; display: block; clear:both; }
.fl{ float:left; }
.hide{display:none !important;}

/* Clearfix */

.clar_fix::affter {
    content:'';
    display:block;
    clear:both;
}

/* COMMON */

/* HEADER */

#header {
    width:100%;
    height:60px;
    margin-top:80px;
    position:absolute;
    z-index:100;
}
#logo {
    width:117px;
    height:60px;
    margin:0 auto;
}
#logo a {
    width:100%;
    height:100%;
    display:block;
    text-indent:-9999px;
}
a.logo_w {
    background:url(../images/logo_w.png) no-repeat center center;
    background-size:cover;
}
a.logo_b {
    background:url(../images/logo_b.png) no-repeat center center;
    background-size:cover;
}
a.logo_g {
    background:url(../images/logo_g.png) no-repeat center center;
    background-size:cover;
}

#toggle_btn {
    width:40px;
    height:30px;
    /*position:absolute;*/
    position:fixed;
    /*top:0;*/
    top:80px;
    left:80px;
    cursor:pointer;
    z-index:1100;
}

#toggle_btn span {
    display:block;
    height:2px;
    position:absolute;
    left:0;
    transition:transform, opacity, top, left, width;
    transition-duration:.5s;
    transition-delay:.1s;
}
#toggle_btn .btn_b span {
    background-color:#222;
}
#toggle_btn .btn_g span {
    background-color:#007445;
}
#toggle_btn .btn_w span {
    background-color:#fff;
}
#toggle_btn span.btn_g { background-color:#007445; }

#toggle_btn span:nth-of-type(1) {
    width:85%;
    top:0px;
}
#toggle_btn span:nth-of-type(2) {
    width:70%;
    top:14px;
}
#toggle_btn span:nth-of-type(3) {
    width:100%;
    top:28px;
}

/* toggle menu active */
#toggle_btn:hover span {
    width:100%;    
}
#toggle_btn.active span:nth-of-type(1) {
    width:100%;
    top:15px;    
    transform:rotate(45deg);    
} 
#toggle_btn.active span:nth-of-type(2) {
    opacity:0;    
}
#toggle_btn.active span:nth-of-type(3) {
    width:100%;
    top:15px;
    transform:rotate(-45deg);    
}

/* 메뉴 테두리 */
#border{ /*width:99.1vmax*/;width:100vw; height:100vh; border:10px solid #007445; position:fixed; /*top:-80px;*/top:0; box-sizing:border-box; background-color: #ffffff; display:none; 
z-index:1000;}
#border.active{display: block;}
#border .logo_g {
    display:block;
    width:117px; height:60px;
    text-indent:-9999px;
    position:absolute;
    top:70px; left:50%;
    transform:translateX(-50%);
}
#gnb{ position:absolute; width:99vw; height:65vh; top:140px; }
/* 메뉴 gnb 텍스트 */
#gnb a{ display:block; font-family: 'Maven Pro', sans-serif; color:#007445; font-size:4em; font-weight:900; text-align:center; width:100%; height:100%; line-height:2; }
/* 메뉴 (리스트) */
#gnb li{ width:50%; height:50%; float:left; line-height:1.3; position:relative; left:0; top:0; }
/* 메뉴 호버 시 백그라운드 컬러와 폰트 컬러 변경 */
#gnb li:hover{ background-color:#007445; transition: all 0.7s; }
#gnb li:hover span{ color:#ffffff; transition: all 0.7s; }
/* 메뉴 숫자 세로로 변형 */
#gnb li>span{writing-mode: vertical-lr; transform: rotate(180deg); }
/* 메뉴 숫자 위치 변경 */
#gnb li:first-child > span{ position:absolute; top:34%; left:350px; }
#gnb li:nth-child(2) > span{ position:absolute; top:34%; left:305px; }
#gnb li:nth-child(3) > span{ position:absolute; top:35%; left:340px; }
#gnb li:last-child > span{ position:absolute; top:35%; left:320px; }
/* 메뉴 gnb 텍스트 라인 */
#gnb li a span{display:block; height:100%; line-height:4;}
footer{ position:fixed; top:810px; width:100vw; height:148px; z-index:101; display:none; }
#footer{width:100vw; position:absolute; top:50%; margin-top:-74px; }
#footer.active{display: block;}
#footer span{ display:block; float:left; position:relative; }
#footer span:nth-of-type(1){left:13%; top:10px;}
#footer span:nth-of-type(2){position:absolute; right:13%; top:10px;}
#footer p{ text-align:center; display:block; line-height:2; }


/* INDEX WRAP */

.index_wrap {
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.index_wrap .fx_txt {
    width:100%;
    height:100%;
    position:absolute;    
}
.index_wrap .fx_txt span {
    display:block;
    position:absolute;
    font-family:'Maven Pro', sans-serif;
    font-size:1.1em;
    font-weight:400;
    color:#fff;
    z-index:50;
}
.index_wrap .fx_txt span.color_b {
    color:#222;
}

.index_wrap .fx_txt span:nth-of-type(1) {
    left:80px;
    top:50%;
    transform:translateY(-50%) rotate(-90deg);
}
.index_wrap .fx_txt span:nth-of-type(2) {
    bottom:80px;
    left:50%;
    transform:translateX(-50%);
}
.index_wrap .fx_txt span:nth-of-type(3) {
    right:80px;
    top:50%;
    transform:translateY(-50%) rotate(90deg);
}

.index_wrap .scroll {
    position:absolute;
    bottom:0;
    left:50%;
    width:2px;
    height:70px;
    overflow:hidden;
}
.index_wrap .scroll::before {
    content:'';
    display:block;
    width:2px;
    height:100%;
    position:absolute;
    left:0;
    bottom:0;
    background-color:#c2c2c2;
}
.index_wrap .scroll::after {
    content:'';
    display:block;
    width:2px;
    height:100%;
    position:absolute;
    left:0;
    bottom:0;
    background-color:#007445;
    animation:down 3s infinite ease;
}
@keyframes down {
    0% { top:-80% }
    100% { top:100%; }
}


/* TITLE */

.title {
    /*position:absolute;*/
    position:fixed;
    right:184px;
    top:75px;
    font-family:'Maven Pro',sans-serif;
    font-weight:900;
    font-size:2em;
    color:#fff;
    letter-spacing:1px;
    z-index:10;
}
.title.color_b {
    color:#222;
}


/* MAIN Section */

.pagenation {
    width:480px;
    height:3px;
    background-color:#8d8d8d;
    position:absolute;
    top:25%;
    right:2%;
    transform:translateX(-50%) translateY(-50%);
    z-index:90;
}
.pagenation .page_btn {
    width:160px;
    height:3px;
    display:block;
    float:left;
}
.pagenation a.on {
    background-color:#fff;
}

.main_sh_wrap {
    width:100vw;
    height:100vh;
    padding:60px;
    position:absolute;
    left:0;
    top:0;
}
.main_sh_wrap > div {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
.main_sh_wrap .main_sh {
    width:120px;
    height:120px;
    border-radius:50%;
    background-color:#c6d1cd;
    position:absolute;
    /*top:45%;
    left:0;*/
    transform:translateX(-50%) translateY(-50%);
    z-index:30;
    animation:ani0 25s infinite linear;
}
@keyframes ani0 {
  	0%  { left:-10%; top:45%; }
  	49% { left:110%; top:45%; }
  	50% { left:110%; top:65%; }
  	99% { left:-10%; top:65%; }  	
  	100% { left:-10%; top:45%; }
}

.main_slide {
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.main_slide ul {
    width:300vw;
    height:100vh;
    position:relative;
}
.main_slide ul li {
    width:100vw;
    height:100vh;
    padding:60px;
    position:absolute;
    left:0;
    top:0;
}
.main_slide ul li:not(:first-of-type) {
    display:none;
}
.main_slide ul li .inner_box {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;    
}
.main_slide ul li .inner_box .visual_content {
    width:445px;
    height:245px;
    position:absolute;    
    top:65%;
    right:0;
    transform:translateX(-50%) translateY(-50%);
    z-index:50;
}
.main_slide ul li .inner_box .visual_content .txt_box {
    position:absolute;
    top:0;
    left:0;
}
.main_slide ul li .inner_box .visual_content .txt_box h2 {
    font-family:'Maven Pro', sans-serif;
    font-size:46px;
    font-weight:700;
    color:#fff;
    letter-spacing:3px;
}
.main_slide ul li .inner_box .visual_content .txt_box p {
    margin-top:30px;
    font-family:'나눔스퀘어','NanumSquare', '맑은 고딕', 'Malgun Gothic', sans-serif;
    font-size:20px;
    font-weight:600;
    letter-spacing:3px;
    color:#fff;
}
.main_slide ul li .inner_box .visual_content .page_num {
    position:absolute;
    bottom:0;
    right:0;
    font-family:'나눔스퀘어', 'NanumSquare', '맑은 고딕', 'Malgun Gothic', sans-serif;
    font-size:36px;
    font-weight:400;
    color:#fff;
    animation: num_move 1s ease-out;    
}

@keyframes num_move {
    0% { right:5px; opacity:0; } 
    50% { right:5px; opacity:0; }
    100% { right:0; opacity:1; }
}

.main_slide ul li .inner_box .visual_content .txt_box h2 {
    width:445px;
    overflow:hidden;
    -webkit-animation: type1 2s steps(60,end);
    animation: type1 2s steps(60,end);
    white-space:nowrap;    
}
.main_slide ul li .inner_box .visual_content .txt_box h2 span {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
.main_slide ul li .inner_box .visual_content .txt_box p {
    width:400px;
    overflow:hidden;
    white-space:nowrap;
    -webkit-animation: type2 4s steps(40, end);    
    animation: type2 4s steps(40, end);    
}
.main_slide ul li .inner_box .visual_content .txt_box p:nth-of-type(2) {
    -webkit-animation: type2 5s steps(40, end);
    animation: type2 5s steps(40, end);
}

@keyframes type1 {
    from {width:0;}
}

@keyframes type2 {
    0% {width:0;}
    50% {width:0;}
    100% {width:100;}
}
@keyframes type2 {
    0% {width:0;}
    75% {width:0;}
    100% {width:100;}
}

@keyframes blink {
    to {opacity:.0;}
}

/* Slide 01 */

.main_slide .slide01 {
    -webkit-background-color:rgba(0,116,69,1);
    background-color:rgba(0,116,69,1);
}
.main_slide .slide01 .inner_box {
    -webkit-background-color: rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);    
}
.main_slide .slide01 .inner_box .img_wrap {
    width:42vw;
    position:absolute;
    top:52%;
    left:46%;
    transform:translateX(-50%) translateY(-50%);
    z-index:20;
}

/* Slide 02 */

.main_slide .slide02 {
    background-color:#000;    
}
.main_slide .slide02 .inner_box {
    background:url(../images/index_slide2.png) no-repeat center center;
    background-size:cover;
}

/* Slide 03 */

.main_slide .slide03 {
    background:url(../images/Index_slide3.png) no-repeat center bottom;
    background-size:cover;
}
.main_slide .slide03 .inner_box {
    background-color:rgba(0,0,0,.4);
}

/* ABOUT Section */

/* 어바웃어스 메인이미지 */
.aboutImg{background: url(../images/ABOUT_main.png) no-repeat center top; background-size:cover; }
/* 어바웃어스 메인 픽스드 텍스트 */
.fx_text{ width:100%; height:100%; position:absolute; }
.fx_text span{ display: block; font-family:'Maven Pro', sans-serif; font-size:1.1em; color:#ffffff; position:absolute; letter-spacing: 1.5px; }
.fx_text span:nth-of-type(1){ left:80px; top:50%; writing-mode: vertical-lr; transform: rotate(180deg); }
.fx_text span:nth-of-type(2){bottom:80px; left:50%; transform:translateX(-50%); }
.fx_text span:nth-of-type(3){ right:80px; top:50%; writing-mode: vertical-lr; }
/* 어바웃어스 메인 텍스트 */
.about_txt{ width:100%; }
.about_txt > *{ position:absolute; }
.about_txt > h2{ font-family:'Maven Pro', sans-serif; font-weight:900; color:#007445; font-size:13em; top:22%; left:80px; }
.about_txt > p { color:#ffffff; font-size:1.7em; top:77%; left:80px; line-height:1.3; }

/* 어바웃어스 box1+2+3 = wrap */
.about_wrap{ width:100vw; height:100vh; position:relative; }
/* 어바웃박스1 */
.about_box1{ position:absolute; width:80%; height:1120px; background:#f2f2f5; transform:translateX(11.5%); }
.about_box1 > h2{ color:#a0a0a2; font-family:'Maven Pro', sans-serif; font-size:8.5em; text-align:right; padding-right:80px; padding-top:50px; }
/* 비전 (텍스트) */
.vision{width:100%;}
.vision > h3{ font-size:4.5em; font-family: 'Maven Pro', sans-serif; color:#222222; font-weight:900; margin-left:240px; }
.vision > p{ font-size:2em; /*font-weight:900;*/ letter-spacing: 1px; margin:95px 0 0 240px; line-height:130%; }
.green{ color:#007445; font-weight:bold; }
/* ci(텍스트, 이미지) */
.ci{ width:100%; margin-top:160px; }
.ci > h3{ font-size:4.5em; font-family:'Maven Pro', sans-serif; color:#222222; font-weight:900; margin-left:40px;}
.ci > p{ font-size:2em; /*font-weight:900;*/ letter-spacing:1px; margin:100px 0 0 40px; line-height:130%; }
.ci > img{ position:absolute; top:615px; right:9.5%; }
/* 브이 모양 이미지 */
.about_sh_v{position:absolute; top:18%; left:-68px; width:247px; height:246px; background:url(../images/img/ABOUT_shape_v.png) no-repeat; }
/* 라인 */
.about_sh_line{position:absolute; top:60.5%; left:-236px; width:260px; height:2px; background-color:#d63232; }
/* 어바웃박스2 */
.about_box2{ position:absolute; top:1016px; left:100px; width:1230px; height:819px; background:url(../images/ABOUT_service.png) no-repeat; z-index: 200; }
/* 텍스트박스 */
.about_box2 .txt_box{ width:383px; height:819px; position:absolute; right:0; background: rgba(0,0,0,0.4);  }
.about_box2 .txt_box > h3{font-family:'Maven Pro', sans-serif; font-size:3.5em; color:#fdfbfb; font-weight:900; text-align:center; margin:220px 0 100px; }
.about_box2 .txt_box > p{font-family:'Maven Pro', sans-serif; color:#ffffff; font-weight:500; font-size:2em; text-align:right; line-height:2.3; margin-right:55px;}
/* 어바웃박스3 */
.about_box3{ position:absolute; top:134%; width:80%; height:2050px; background:#007445; transform:translateX(11.5%); }
.about_box3 h3{ font-family: 'Maven Pro', sans-serif; font-size:8em; color:#ffffff; font-weight:900; margin-left:45px; margin-top:688px; }
/* 로고 6개 감싸는 ul */
.about_box3 ul{ width:786px; height:620px; position:relative; top:6%; left:50%; transform: translateX(-50%); }
.about_box3 ul li{ float:left; margin:20px; box-sizing: content-box; text-indent:-99999px; }
/* 로고 이미지 */
.about_box3 ul li:first-child{ background:url(../images/ABOUT_client_01.png) no-repeat center center; width:353px; height:193.333px;  }
.about_box3 ul li:nth-child(2){ background:url(../images/ABOUT_client_02.png) no-repeat center center; width:353px; height:193.333px; }
.about_box3 ul li:nth-child(3){ background:url(../images/ABOUT_client_03.png) no-repeat center center; width:353px; height:193.333px; }
.about_box3 ul li:nth-child(4){ background:url(../images/ABOUT_client_04.png) no-repeat center center; width:353px; height:193.333px; }
.about_box3 ul li:nth-child(5){ background:url(../images/ABOUT_client_05.png) no-repeat center center; width:353px; height:193.333px; }
.about_box3 ul li:last-child{ background:url(../images/ABOUT_client_06.png) no-repeat center center; width:353px; height:193.333px; }
/* p 모양 이미지 */
.about_sh_p{ position:absolute; top:25%; right:-240px; width:186px; height:335px; background:url(../images/ABOUT_shape_p.png) no-repeat; background-size:73%; }



/* PORTFOLIO Section */

/* 포트폴리오 비디오 */
#bgvideo {
	height: 70%; width:80%; position: absolute; left: 50%; top:140px; transform:translateX(-50%); z-index:10;
}
.index_wrap > video {
	display: block; overflow: hidden;
}
/* 포트폴리오 메인 텍스트 */
.port_txt{ position:absolute; left:50%; top:87%; width:1062px; height:126px; transform:translateX(-50%); line-height:1.3; }
.port_txt p{ text-align:center; font-size:1.6em; font-weight:bold; }
/* 포트폴리오 원 모양 애니메이션 효과 */
.portfolio_sh{ 
	width: 185px; height: 185px; position: absolute;
	top:215px; background: #007445; border-radius: 50%; padding: 30px;
		animation: ani 9s infinite alternate;
	}
	@keyframes ani{
		0% { left:0; }
		100% { left:100vw; }
	}
/* 포트폴리오 con*2 감싸는 wrap */
.portfolio_wrap{width:1520px; height:2600px; margin:0 auto; z-index:100; margin-top:100px;}
/* 포트폴리오 왼쪽 이미지(1,3,5) 컨테이너 */
.left_con{margin-left:100px; width:600px; height:2200px; margin-right:50px;}
/* 포트폴리오 오른쪽 이미지(2,4,6) 컨테이너 */
.right_con{margin-right:112px; width:600px; height:2400px; margin-left:50px; }
.h_600{ width:600px; height:600px; margin-bottom:100px; }
.h_800{ width:600px; height:800px; margin-bottom:100px; }
.h_600 a{display:block; width:inherit; height:inherit;}
.h_800 a{display:block; width:inherit; height:inherit;}
/* 포트폴리오 백그라운드 이미지 */
.Img1{background:url(../images/portfolio_01.jpg) no-repeat;}
.Img2{background:url(../images/portfolio_03.jpg) no-repeat;}
.Img3{background:url(../images/portfolio_05.jpg) no-repeat;}
.Img4{background:url(../images/portfolio_02.jpg) no-repeat;}
.Img5{background:url(../images/portfolio_04.jpg) no-repeat;}
.Img6{background:url(../images/portfolio_06.jpg) no-repeat;}



/* PEOPLE Section */

/* PEOPLE INDEX */

.index_wrap .people_img {
    width:700px;
    height:700px;
    border-radius:50%;
    position:absolute;
    bottom:10vh;
    background:url(../images/people_main.jpg) no-repeat fixed bottom 8vh right 150px;        
    animation: people_move 3s infinite alternate;
}
@keyframes people_move {
    0%{ right:10vw; }
    100% { right:25vw; }
}

.index_wrap .people_txt {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.index_wrap .people_txt span {
    display:block;
    font-family:'Maven Pro', sans-serif;
    font-size:130px;
    font-weight:900;
    line-height:100px;
    letter-spacing:5px;    
    color:#005231;
}

/* PEOPLE WRAP */

.people_wrap > div {
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
}

.people_wrap .contact_btn {
    display:block;
    font-family:'Maven Pro', sans-serif;    
    font-size:20px;
    font-weight:500;
    line-height:25px;
    width:120px; height:30px;    
    box-sizing:border-box;
    border:2px solid;
    margin:0 auto;
    position:relative;
}
.people_wrap .contact_btn:before {
    content:'';
    display:block;
    height:100%;
    width:0;
    position:absolute;
    z-index:-1;
    transition:all 300ms ease-out;
}
.people_wrap .contact_btn:hover:before {
    width:100%;
}

/* PEOPLE soyeon */

.people_sy .sy_txt {
    width:50vw;
    height:100%;    
    position:absolute;
    top:0; left:0;
    text-align:center;
    z-index:50;
}

.people_sy .sy_txt h3 {
    width:180px;
    height:180px;
    margin:180px auto 0;
}
.people_sy .sy_txt h3 span {
    display:block;
    font-family:'Maven Pro', sans-serif;
    font-size:60px;
    font-weight:700;
    line-height:60px;
    color:#fff;
}
.people_sy .sy_txt h3 span:nth-of-type(2) {
    letter-spacing:80px;
}

.people_sy .sy_txt h4 {      
    font-size:30px;
    font-weight:600;    
    color:#fff;    
    margin:50px 0;
}

.people_sy .sy_txt p {
    margin-bottom:50px;
}
.people_sy .sy_txt p span {
    display:block;    
    font-size:24px;    
    color:#fff;
    text-align:center;
    line-height:34px;
}

.people_sy .sy_txt .contact_btn {
    color:#fff;
    border-color:#fff;
}
.people_sy .sy_txt .contact_btn:hover {
    color:#007445;
}
.people_sy .sy_txt .contact_btn:hover:before{
    background-color:#fff;
}

.people_sy .img_box {
    width:50vw;
    height:100vh;
    background-color:#f2f2f5;
    position:absolute;
    top:0;
    right:0;
}
.people_sy .sy_img {
    width:83%;
    height:60%;
    background:url(../images/people_sy.png) no-repeat center center;
    background-size:cover;
    margin:30% auto;
}

.people_sy .sy_bg {
    width:100vw;
    height:100vh;    
    position:absolute;
    top:0; left:0;   
}
.people_sy .sy_bg span {
    font-family:'Maven Pro';
    font-size:250px;
    font-weight:700;
    color:#007445;
    letter-spacing:.6vw;
    position:absolute;
    bottom:0;
    left:23vw;   
}
.people_sy .sy_bg .bg_box {
    width:50vw;
    height:100vh;
    background-color:#007445;
    position:absolute;
    bottom:0;
    left:0;
    overflow:hidden;
}
.people_sy .sy_bg .bg_box span {    
    color:#fff;
}

/* PEOPLE yeonou */

.people_yo h3 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    z-index:10;
}
.people_yo h3 span {
    display:block;
    font-family:'Maven Pro', sans-serif;
    font-size:100px;
    font-weight:900;
    line-height:80px;
    color:#222;
    text-align:center;    
}

.people_yo h4 {
    font-family:'Maven Pro', sans-serif;
    font-size:20px;
    font-weight:700;    
    color:#222;
    position:absolute;
    top:60px;
    left:50%;
    transform:translateX(-50%);
}
.people_yo .yo_img {
    width:40vw;
    height:40vw;
    background:url(../images/people_yo.png) no-repeat top left;
    background-size:cover;
    position:absolute;
    top:50%;
    left:45px;
    transform:translateY(-50%);
}

.people_yo .yo_bg {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}
.people_yo .yo_bg .bg_circle_s {
    width:600px;
    height:600px;
    border-radius:50%;
    background-color:#007445;
    position:absolute;
    top:0;
    z-index:-1;
   /* animation:move_circle_s 8s infinite alternate;*/
}
/*@keyframes move_circle_s {
    0%{left:-10%;}
    100%{left:100%;}
}*/
.people_yo .yo_bg span {
    font-family:'Maven Pro', sans-serif;
    font-size:18vh;
    font-weight:700;
    color:#007445;
    position:absolute;
    bottom:40vh;
    right:-21vw;
    transform:rotate(90deg); 
}
.people_yo .yo_bg .bg_circle_l {
    width:60vw;
    height:60vw;
    /*width:1200px;
    height:1200px;*/
    background-color:#007445;
    border-radius:50%;
    position:absolute;
    bottom:-30.5vh;
    right:-15vw;
    /*top:270px;
    left:930px;*/
    overflow:hidden;    
}
.people_yo .yo_bg .bg_circle_l span {
    color:#fff;
    right:-6vw;
    bottom:70.5vh;   
}

.people_yo .yo_txt {
    width:50vw;
    height:50vh;
    padding:5%;
    box-sizing:border-box;
    text-align:center;
    position:absolute;
    bottom:0;
    right:0;
    z-index:50;
}

.people_yo .yo_txt h4 {
    position:relative;
    top:0;    
    font-size:30px;
    font-weight:600;
    color:#fff;    
}

.people_yo .yo_txt p {
    margin:50px 0;
}
.people_yo .yo_txt p span {
    display:block;    
    font-size:24px;    
    color:#fff;
    line-height:34px;
}

.people_yo .yo_txt .contact_btn {
    color:#fff;
    border-color:#fff;
}
.people_yo .yo_txt .contact_btn:hover {
    color:#007445;
}
.people_yo .yo_txt .contact_btn:hover:before {
    background-color:#fff;
}

/* PEOPLE hana */

.people_hn {
    padding:140px 200px;
    box-sizing:border-box;    
}

.people_hn h3 span {
    display:block;
    font-family:'Maven Pro', sans-serif;
    font-size:88px;
    font-weight:900;
    color:#222;
    line-height:80px;
}

.people_hn h4 {    
    font-size:35px;
    color:#222;
    font-weight:600;
    margin:30px 0;
}

.people_hn .hn_txt {
    position:absolute;
    bottom:140px; right:200px;
    text-align:center;
}

.people_hn .hn_txt p {
    margin:60px 0;
}
.people_hn .hn_txt p span {
    display:block;
    font-size:24px;
    font-weight:500;
    color:#222;
    line-height:34px;
}

.people_hn .hn_txt .contact_btn {
    color:#222;
    border-color:#222;
}
.people_hn .hn_txt .contact_btn:hover {
    color:#fff;
}
.people_hn .hn_txt .contact_btn:hover:before {
    background-color:#222;
}

.people_hn .hn_bg {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0; left:0;
    z-index:-1;
}
.people_hn .hn_bg span {
    font-family:'Maven Pro', sans-serif;
    font-size:308px;
    font-weight:700;
    color:#007445;
    position:absolute;
    top:50%; left:50%;
    transform:translateX(-50%) translateY(-50%);
    /*animation:move_span 8s infinite ease;*/
}
.people_hn .hn_bg span:nth-of-type(2) {
    opacity:.7;
}

@keyframes move_span {
    0%{ transform:translateX(-50%) translateY(-50%) rotate(0);}
    25%{ transform:translateX(-50%) translateY(-50%) rotate(45deg);}
    50%{transform:translateX(-50%) translateY(-50%) rotate(90deg);}
    75%{transform:translateX(-50%) translateY(-50%) rotate(135deg);}
    100%{transform:translateX(-50%) translateY(-50%) rotate(180deg);}    
}

.people_hn .hn_bg .hn_img {
    width:800px; 
    height:800px;
    border-radius:50%;
    background:url(../images/people_hn.png) no-repeat center center;
    background-size:cover;
    position:absolute;
    top:50%; left:50%;
    transform:translateX(-50%) translateY(-50%);
}



/* CONTACT Section */

/* CONTACT Index */

.index_wrap .contact_img {
    width:1058px; height:543px;
    background:url(../images/contact_main.png) no-repeat center center;
    background-size:cover;
    position:absolute;
    right:0; bottom:100px;
}

.index_wrap .contact_txt {
    width:1200px;
    position:absolute;
    bottom:15%; left:50%;
    transform:translateX(-50%);
}
.index_wrap .contact_txt span {
    display:block;    
    font-size:48px;
    font-weight:700;
    line-height:65px;    
}

/* CONTACT WRAP */

.contact_wrap > div {
    width:100vw;
    height:100vh;
    position:relative;
}

/* CONTACT BOX1 */

.contact_wrap .contact_box1_wrap {
    width:1200px; 
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translateX(-50%);
}

.contact_wrap .contact_box1_wrap p {
    margin:20px 0;
}
.contact_wrap .contact_box1_wrap p .contact_title {
    font-family:'Maven Pro',sans-serif;
    font-size:40px;
    font-weight:900;
}
.contact_wrap .contact_box1_wrap p span {
    font-size:20px;
    line-height:60px;
    vertical-align:middle;
    margin-right:30px;
}
.contact_wrap .contact_box1_wrap .map_wrap {
    width:1200px;
    height:600px;
    background-color:#dedede;
}

/* CONTACT BOX2 */

.contact_wrap .contact_box2_wrap {
    width:1300px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.contact_wrap .contact_box2_wrap .txt {
    font-size:48px;
    font-weight:900;
    color:#222;
    margin:60px 0 10px;    
}

.contact_wrap .contact_box2_wrap .form_wrap {
    width:1300px;   
    padding:40px 50px;
    box-sizing:border-box;
    background-color:#007445;
}

.form_title {
    font-family:'Maven Pro', sans-serif;
    font-size:36px;
    font-weight:700;
    color:#fff;    
}
.form_group {
    font-size:0;
    margin:0 -30px;
}
.form_group_item {
    width:50%;
    display:inline-block;
    padding:0 30px;
}
.form_item {
    margin-top:40px;
    position:relative;
    border-bottom:2px solid #ffffff;
}
.form_item_input {
    width:100%;
    display:block;
    height:40px;
    line-height:40px;
    font-size:18px;
    letter-spacing:-.01em;    
    z-index:10;
    position:relative;
    background-color:transparent;
    border:0;   
    color:#ffffff;
}
select.form_item_input, 
.form_item_input[type=file] {
    color:#222;
    opacity:0;
}
textarea.form_item_input {
    height:80px;
    box-sizing:content-box;
    overflow:hidden;
    line-height:30px;
    resize:none;
}
.form_item_label {
    transition:all 300ms ease-out;
    transform-origin:0 50%;
    position:absolute;
    left:0; top:0;
    font-size:18px;
    font-weight:900;
    letter-spacing:-0.01em;
    line-height:40px;
    color:#fff;
}
.form_item_selectvalue {
    width:100%; height:40px;
    position:absolute;
    left:0; top:0;
    font-size:18px;
    color:#fff;
    line-height:40px;
    transition:all 300ms ease-out;
    transform-origin:0 50%:    
}
.form_item_selectvalue::after {
    content:'';
    display:block;
    width:10px;
    height:10px;
    border-left:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    position:absolute;
    right:0; top:40%;
    transform:rotate(-45deg);
}
.form_item_filename {
    width:100%; height:60px;    
    line-height:40px;
    transition:all 300ms ease-out;
    position:absolute;
    left:0; top:0;    
}
.form_item_filename::before, 
.form_item_filename::after{
    content:'';
    display:block;
    position:absolute;
    top:40%; right:0;
    background-color:#ffffff;
    width:20px;
    height:1px;
}
.form_item_filename::after {
    transform:rotate(90deg);
}
.form_item_warning {
    font-size:.85rem;
    color:#fff;
    position:absolute;
    bottom:-20px;
}

.form_item_label::after {
    content:attr(title);    
    position:absolute;
    left:0; top:0;
    white-space:nowrap;
    box-sizing:border-box;
    opacity:0;
}
.form_item_label_value {
    font-family:'Maven Pro',sans-serif;
    font-weight:700;      
    opacity:1;
}
.form_item_label::after, 
.form_item_label_value {
    transition:all 300ms ease-out;
    vertical-align:middle;    
}

.form_item_input:checked ~.form_item_label,
.form_item_input:focus ~ .form_item_label,
.form_item_input:valid ~ .form_item_label{
    transform: scale(0.83, 0.83) translateY(-40px);    
}

.form_item_input:checked ~.form_item_label::after, 
.form_item_input:focus ~ .form_item_label::after,
.form_item_input:valid ~ .form_item_label::after{
    opacity:1;
}
.form_item_input:checked ~.form_item_label .form_item_label_value, 
.form_item_input:focus ~.form_item_label .form_item_label_value,
.form_item_input:valid ~.form_item_label .form_item_label_value{
    opacity:0;
}

.form_button {
    display:block;
    width:140px;
    height:60px;
    margin-top:30px;
    margin-left:auto;
    font-size:16px;
    color:#ffffff;
    text-align:center;
    background-color:transparent;
    border:1px solid #ffffff;
    position:relative;
    transition:all 300ms ease-out;
    cursor:pointer;
    z-index:10;
}
.form_button:hover {
    color:#007445;
}
.form_button::after {
    content:'';
    display:block;
    width:0; height:100%;
    background-color:#ffffff;
    color:#007445;
    position:absolute;
    top:0; left:0;
    z-index:-1;
    transition:all 300ms ease-out;
}
.form_button:hover:after {
    width:100%;
}